* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

.img {
  width: 100%;
}

ul {
  list-style: none;
  gap: 2%;
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
}

ul a {
  margin-right: 30px;
}

footer {
  top: 100vh;
  text-align: left;
  color: #faf850;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.7rem;
}

nav {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3rem;
}

body {
  background-color: #dce0e3;
  background-image: url(/foto/xdbillede.svg);
  background-size: 638px 501px;
  background-repeat: no-repeat;
  margin-top: 4rem;
}

header {
  height: 70vh;
}

cursor {
  cursor: pointer;
}

a:hover {
  color: #faf850;
  text-decoration: underline;
}
/* 
.menu li:first-child {
  display: none;
} */

@media (min-width: 600px) {
}
