* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}
/* burgermenu */

.menu.shown ul {
  /* Vis menu-listen, når klassen ".shown" er til stede */
  list-style: none;
  padding: 0 0 1rem 0;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
  order: 2;
  padding-left: 2rem;
}

.toggle-btn {
  background: transparent;
  border: none;
  padding: 2rem;
  min-width: 44px;
  min-height: 44px;
  font-size: 3rem;
  cursor: pointer;
}

body {
  line-height: 1.5rem;
  background-color: #dce0e3;
}

img {
  max-width: 100%;
  padding: 1rem;
}

main {
  display: grid;
  margin: 2rem;
  line-height: 1.5rem;
}

.menu ul {
  display: none; /* Fjern menu-listen som standard */
}

nav {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Barlow Semi Condensed", sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 1rem;
}

h3 {
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  text-decoration: underline;
}

p {
  font-size: 1rem;
  padding-bottom: 0.8rem;
}

footer {
  display: block;
  /* top: 100vh; */
  color: #faf850;
  text-align: center;
}

.button {
  color: black;
  padding: 0px 8px 0px 8px;
  margin: auto;
  border-radius: 25px;
  border-style: solid;
  font-family: "Barlow Semi Condensed", sans-serif;
  border-width: 3px;
}
a:hover {
  color: #faf850;
  border-color: black;
}

/*layout side web*/

@media (min-width: 600px) {
  .grid_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 0.4rem;
    margin-left: 16px;
  }

  p {
    max-width: 65ch;
  }
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
  }

  h2 {
    margin-top: 1rem;
  }

  .col4 {
    grid-column: 1;
  }

  .col5 {
    grid-column: 2;
  }

  img {
    padding-bottom: 0rem;
  }
}

@media (min-width: 800px) {
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.4rem;
    margin-left: 16px;
  }
}

@media (min-width: 1200px) {
  main {
    padding: 3rem;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    margin: 2rem;
  }
}
